[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>


<div class="section" id="vue-target" v-cloak>
  <!-- Put here your Vue.js template -->

  <div class="columns">
    <div class="column">
      <div class="container">


        <div v-if="showAllRestaurants">
          <div class="notification is-primary" style="font-size: x-large;">
            <strong>All Restaurants</strong>
          </div>
          <p></p>
          <div v-for="restaurant in restaurants" class="notification is-info">
            <strong>{{restaurant.rating}} <i class="fa fa-star"></i> | {{restaurant.name}}</strong>
            <br>
            {{restaurant.city}} {{restaurant.zipCode}}
            <br>
            Rate Here: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
          </div>
        </div>
        <div v-if="!showAllRestaurants">
          <div class="notification is-primary" style="font-size: x-large;">
            <strong>Your Saved</strong>
          </div>
          <p></p>
          <div v-for="restaurant in displayRestaurants" class="notification is-info">
            <strong>{{restaurant.rating}} <i class="fa fa-star"></i> | {{restaurant.name}}</strong>
            <br>
            {{restaurant.city}} {{restaurant.zipCode}}
          </div>
        </div>
      
      </div>
    </div>

    <div class="column is-one-third has-background-light">
      
      <div class="field">
        <p class="control has-icons-right">
          <div class="field has-addons">
            <p class="control">

              <button class="button" v-on:click="toggleDisplay(true)">
                <span>Show All</span>
              </button>
              <button class="button" v-on:click="toggleDisplay(false)">
                <span>Your Saved</span>
              </button>
              <a class="button" href="[[=URL('add')]]">
                <span class="icon"><i class="fa fa-plus"></i></span>
                <span>Add</span>
              </a>
            </p>
          </div>
        </p>
        <!-- Search users bar -->
        <p class="control has-icons-right">
          <input class="input" id="searchBox" v-model="text" v-on:keyup="filterRestaurants" placeholder="Search Restaurants"/>
          <span class="icon is-small is-right clickable" v-on:click="clearSearch">
            <i class="fa fa-times-circle"></i>
          </span>
        </p>
      </div>
          <div v-for="restaurant in results" >
              <div class="field has-addons">
                <p class="control">
                  <button class="button" v-on:click="setFollow(restaurant)">
                    <span>{{restaurant.rating}}
                      <i class="icon is-small fa fa-star "></i>
                      | {{restaurant.name}}
                    </span>
                  </button>
                </p>
                <!-- Follow/Unfollow button -->
                <p class="control">
                  <button class="button is-outlined" :class="{ 'is-danger' : isFollowed(restaurant), 'is-success' : !isFollowed(restaurant)}" v-on:click="setFollow(restaurant)">
                    <span class="icon is-small">
                      <i class="fa" :class="{ 'fa-minus' : isFollowed(restaurant), 'fa-plus' : !isFollowed(restaurant)}"></i>
                    </span>
                  </button>

                </p>
              </div>
            </div>

    </div>
  </div>

</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let follow_url = "[[=XML(follow_url)]]";
  let filter_restaurants_url = "[[=XML(filter_restaurants_url)]]";
  let get_restaurants_url = "[[=XML(get_restaurants_url)]]";
  let get_current_user_url = "[[=XML(get_current_user_url)]]";

</script>
<script src="js/index.js"></script>
[[end]]